<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Bitwise - Operations - Test - Generator</title>

    <link rel="stylesheet" type="text/css" href="styles/style.css"/>

    <script type="text/javascript" src="scripts/libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="scripts/libs/handlebars-v1.3.0.js"></script>
    <script type="text/javascript" src="scripts/libs/Long.min.js"></script>
    <script type="text/javascript" src="scripts/libs/jspdf.min.js"></script>
    <script type="text/javascript" src="scripts/libs/FileSaver.js"></script>
    <script type="text/javascript" src="scripts/libs/jszip.min.js"></script>
    <script type="text/javascript" src="scripts/negledaituk.js"></script>
    <script type="text/javascript" src="scripts/templates.js"></script>
    <script type="text/javascript" src="scripts/generator.js"></script>
    <script type="text/javascript" src="scripts/solver.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
</head>
<body>
<div id="container">
    <div class="arrow left">
        <img src="images/arrow.gif"/>
    </div>

    <div class="content">
        <img src="images/logo.png"/>

        <div class="input">
            <input class="tests" type="text" placeholder="enter the amount of tests you wish to generate..."/>

            <div class="difficulty">
                <p>Difficulty (higher = easier)</p>
                <input class="diff" type="range" min="0" max="100" value="0" step="10"
                       oninput="changeValue(this.value)"/>
                <span id="range">0%</span>
                <script type="text/javascript">
                    function changeValue(newValue) {
                        document.getElementById("range").innerHTML = newValue + '%';
                    }
                </script>
            </div>

            <button id="generator" type="button">Generate</button>
        </div>

    </div>

    <div class="arrow right">
        <img src="images/arrow.gif"/>
    </div>
</div>

<img id="pdf-template" src="templates/pdfTestTemplate.png" style="display:none;"/>
<script id="test-template" type="text/x-handlebars-template">
    <table>
        <tr>
            <th colspan="4"><strong>Технологично училище Електронни системи</strong><br/> Технология на
                програмирането<br/> Тест побитови операции<br/> Вариант {{id}}<br/>
            </th>
        </tr>
        <tr>
            {{#each tests}}
            <td>{{{this.q}}}</td>
            {{#showTag @index}}
        </tr>
        <tr>
            {{/showTag}}
            {{/each}}
        </tr>
    </table>
</script>
<script id="test-template-answers" type="text/x-handlebars-template">
    <table>
        <tr>
            <th colspan="4"><strong>Технологично училище Електронни системи</strong><br/> Технология на
                програмирането<br/> Тест побитови операции<br/> Вариант {{id}}<br/>
            </th>
        </tr>
        <tr>
            {{#each tests}}
            <td>{{{this.q}}}<span class="answer">{{{this.a}}}</span></td>
            {{#showTag @index}}
        </tr>
        <tr>
            {{/showTag}}
            {{/each}}
        </tr>
    </table>
</script>
</body>
</html>