<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <style>
        @import url(http://fonts.googleapis.com/css?family=Lato:400,700);

        div#container {
            width: 1250px;
            height: 750px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            font: 100% 'Lato', sans-serif;
        }

        div#container table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        div#container table {
            width: inherit;
            height: inherit;
        }

        div#container th {
            font-weight: normal;
        }

        div#container td {
            margin: 0;
            position: relative;
            vertical-align: top;
        }

        div#container td span.answer {
            padding: 0 5px;
            position: absolute;
            right: 0;
            bottom: 0;
            border-top: 1px solid black;
            border-left: 1px solid black;
        }
    </style>
</head>
<body>
<div id="container">
</div>

<script id="test-template" type="text/x-handlebars-template">
    <table>
        <tr>
            <th colspan="4"><strong>Технологично училище Електронни системи</strong><br/> Технология на
                програмирането<br/> Тест побитови операции<br/> Вариант {{id}}<br/>
            </th>
        </tr>
        <tr>
            {{#each tests}}
            <td>{{{this.q}}}</td>
            {{#showTag @index}}
        </tr>
        <tr>
            {{/showTag}}
            {{/each}}
        </tr>
    </table>
</script>
<script id="test-template-answers" type="text/x-handlebars-template">
    <table>
        <tr>
            <th colspan="4"><strong>Технологично училище Електронни системи</strong><br/> Технология на
                програмирането<br/> Тест побитови операции<br/> Вариант {{id}}<br/>
            </th>
        </tr>
        <tr>
            {{#each tests}}
            <td>{{{this.q}}}<span class="answer">{{{this.a}}}</span></td>
            {{#showTag @index}}
        </tr>
        <tr>
            {{/showTag}}
            {{/each}}
        </tr>
    </table>
</script>
</body>
</html>