@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

div#container {
    width: 850px;
    height: 650px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div#container div.arrow.left {
    transform: rotate(225deg);
    -ms-transform: rotate(225deg); /* IE 9 */
    -webkit-transform: rotate(225deg); /* Opera, Chrome, and Safari */

    float: left;
}

div#container div.content {
    font: 100% 'Lato', sans-serif;
    text-align: center;
}

div#container div.content img {
    width: 365px;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}

div#container div.content div.input {
    width: 850px;
    height: 250px;
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    top: 35%;
}

div#container div.content div.input input.tests {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}

div#container div.content div.input div.difficulty {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}

div#container div.content div.input div.difficulty input.diff {
    width: 250px;
}

div#container div.content div.input div.difficulty span {
    margin: auto 10px;
    position: absolute;
}

div#container div.content div.input button#generator {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    border: 5px solid black;
    border-radius: 10px;
    top: 75%;
    left: 0;
    right: 0;
}

div#container div.content div.input button#generator:hover {
    background: dimgray;
}

div#container div.arrow.right {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Opera, Chrome, and Safari */

    float: right;
}